body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

a {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

form {
    margin-top: 20px;
}

label, input[type="text"], input[type="submit"] {
    display: block;
    margin: 10px 0;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}